table, th, td{
    border-color:rgb(137, 189, 88);
    color:rgb(186, 252, 124);
    font-size:x-large;
    border:2px solid rgb(137, 189, 88);
}
h1{
    color: rgb(216, 252, 183);
}
.even{
    color: rgb(186, 252, 124);
}
#odd{
    color: rgb(112, 185, 44);
}
.pagecolor{
    background-color: rgb(74, 117, 117);
}
ul{
    list-style-type:square;
}
li{
    color: rgb(186, 252, 124);
}
p{
    font-size: x-large;
}
#img0{
    width: 250px;
}
#img1{
    height: 350px;
}
#img2{
    height: 250px;
}
#img3{
    width: 400px;
}
#img4{
    height:250px;
}
.headerdiv h1{
    color:rgb(202, 0, 0);
    font-family: fantasy;
    font-size:40px;
    text-align: center
    
}
.headerdiv h1:hover{
    color:#97e2fd
}
.pagecoloralt{
    background-color:#fd8a82;
}
.mainimg{
    height:450px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.description{
    font-style:oblique;
    font-size:30px;
}
.source{
    font-size:22px;
    font-style:italic;
    text-align: center;
}
.mainimg2{
    height:350
}